@use "fonts" as *;
@use "../abstracts/index" as *;

html, body {
    background-color: $light-theme-base;
    font-family: $current-font;
    font-size: 14px;
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
}