*, *::before, *::after {
    box-sizing: border-box;
    border-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
:root {
    /* LIGHT THEME COLORS */
    --light-theme-base: #bdbdbd;
    --light-theme-background: #FFFFFF;
    --light-theme-shadow: rgba(18, 18, 18, .3);
    --light-theme-primary: #6200EE;
    --light-theme-primary-dark: #3700B3;
    --light-theme-secondary: #03DAC6;
    --light-theme-secondary-dark: #018786;
    --light-theme-error-color: #B00020;
    /* DARK THEME COLORS */
    --dark-theme-base: #1d1d1d;
    --dark-theme-background: #121212;
    --dark-theme-shadow: rgba(255, 255, 255, .3);
    --dark-theme-primary: #BB86FC;
    --dark-theme-primary-dark: #3700B3;
    --dark-theme-secondary: #03DAC6;
    --dark-theme-error-color: #CF6679;
}
  
/* ---------- MAIN BODY DECLERATIONS ---------- */

html, body {
    background-color: var(--theme-color-white);
    font-family: "Montserrat";
    font-size: 14px;
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
}

/* RECOMMENDED: BEGIN WITH MOBILE FIRST DESIGN */




/* MEDIA QUERY TEMPLATE FROM https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}