@use "../abstracts/index" as *;
@use "../base/index" as *;

footer {
    background-color: $light-theme-primary-dark;
    bottom: 0;
    box-shadow: -2px -2px 5px $light-theme-shadow;
    width: 100%;
}

#Start-Button-Wrap {
    @include flexbox(column, center, center);
}

#Quiz-Button-Wrap, #Retry-Button-Wrap {
    // Please see .footer-content-wrap for explanation. This ID wasn't supposed to be necessary, but there seems to be a bug in specificity with the .hidden class not working on the Event Listenener in JavaScript.
    @include flexbox(row, space-between, center);
}

#Start-Button, #Next-Button, #Retry-Button, #Quit-Button, .container-timer {
    @include fontline(1.5rem, 1.5rem);
    @include resetbox;
    background-color: $light-theme-secondary-dark;
    box-shadow: 0 0 5px $light-theme-shadow;
    border-radius: 5px;
    color: $light-theme-background;
    font-weight: 700;
    height: 3.5rem;
    text-align: center;
    text-decoration: none;
    width: 8rem;
}

#Timer-Title {
    @include fontline (.8rem, .8rem);
}

.container-timer {
    @include resetbox;
    @include flexbox(column, center, center);
    background-color: $light-theme-background;
    color: black;
    height: 3.5rem;
}

.footer-content-wrap {
    // The below code may or may not be necessary if I can fix the bug with the Quiz Button Wrap.
    @include flexbox(row, space-between, center);
    height: auto;
    margin: 0 auto;
    max-width: $max-width;
    padding: 2rem 2rem 3rem;
    width: 100%;
}