@use "../base/index" as *;
@use "../abstracts/index" as *;

body {
    font-size: 18px;
    height: 100vh;
    min-width: 330px;
}

main {
    padding: 2rem;
    width: 100%;
}

h1 {
    @include fontline(3rem, 3.2rem);
    margin-bottom: .35em;
}

h2 {
    @include fontline(1.6rem, 1.8rem);
    font-weight: 500;
    margin-bottom: .4em;
}

h3 {
    @include fontline(1rem, 1.2rem);
    margin-bottom: 1rem; 
}

h4 {
    @include fontline(1.3rem, 1.5rem);
    margin-bottom: 1rem;
}

input, label {
    @include fontline(1rem, 1.2rem);
    margin-left: 1rem;
    margin-bottom: .7rem; 
}

label {
    margin-left: .5rem
}

.quiz-title {
    @include fontline(2rem, 2.2rem);
    font-weight: 900;
    margin-bottom: .8em;
}