@use "../base/index" as *;
@use "../abstracts/index" as *;

body {
    @include flexbox(column, space-between, center);
    font-size: 18px;
    height: 100vh;
    min-width: 330px;
}

main {
    height: auto;
    max-width: $max-width;
    padding: 2rem;
    width: 100%;
}

article {
    position: relative;
}

h1, h2, h3, h4, p, label {
    font-family: $current-font;
}

h1 {
    @include fontline(3.4rem, 3.6rem);
    margin-bottom: .35em;
}

h2 {
    @include fontline(1.6rem, 1.8rem);
    font-weight: 500;
    margin-bottom: .4em;
}

h3 {
    @include fontline(1.2rem, 1.4rem);
    margin-bottom: 1rem; 
}

h4 {
    @include fontline(1.4rem, 1.6rem);
    margin-bottom: 1rem;
}

p {
    @include fontline(1.3rem, 1.6rem);
    margin: 0 auto;
    max-width: $text-max-width;
}

input, label {
    @include fontline(1.2rem, 1.4rem);
    font-family: $current-font;
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
    max-width: $text-max-width;
}

input[type="radio"] {
    appearance: none;
    min-width: 1rem;
    width: 1rem;
    height: 1rem;
    border: 2px solid $light-theme-primary-dark;
    border-radius: 100%;
}

input[type="radio"]:checked {
    background-color: $light-theme-primary-dark;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    padding: 7px;
    transform: translate(-2px, -2px);
}

label {
    margin-left: .5rem
}

#Shadow-Panel {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    min-width: 330px;
    position: absolute;
    width: 100%;
    z-index: 5;
}

#Start-Menu, #Nothing-Selected-Notice, #Failed-Menu-Answer, #Failed-Menu-Time, #Quitting-Pug {
    @include panelBackgroundMain;
    
    p {
        text-align: justify;
    }
}

#Nothing-Selected-Notice {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 100%;
    z-index: 10;

    .menu-content-wrap {
        @include flexbox(column, center, center);
    }

    input {
        @include resetbox;
        background-color: $light-theme-secondary-dark;
        border-radius: 5px;
        box-shadow: 0 0 5px $light-theme-shadow;
        color: $light-theme-background;
        font-weight: 700;
        padding: 1rem;
        margin-top: 1rem;
    }
}

#Failed-Menu-Answer, #Failed-Menu-Time {
    background-color: $light-theme-error-color-shadow;

    .menu-content-wrap {
        border: 3px solid $light-theme-error-color;
        background-color: $light-theme-error-color-shadow;
        color: $light-theme-background;
    }
}

#Quitting-Pug {
    position: relative;
    
    .menu-content-wrap {
        @include resetbox;
        @include flexbox(column, center, center);
        border: none;
    }

    #It-Me-Paragraph {
        position: absolute;
        top: 12.5%;
    }

    img {
        width: 100%;
        border: 3px solid $light-theme-error-color;
        border-radius: 15px;
    }

    .small-paragraph {
        margin-top: .5rem;
    }
}

#Menu-h3 {
    text-align: center;
}

.small-paragraph {
    @include fontline(1rem, 1.3rem);
}

.radio-button-wrapper {
    display: flex;
    flex-direction: row;
}

.menu-content-wrap {
    background-color: $light-theme-background;
    padding: 1.5rem;
    border: 3px solid $light-theme-secondary-dark;
    border-radius: 15px;
}

.quiz-title {
    @include fontline(2rem, 2.2rem);
    font-weight: 900;
    margin-bottom: .8em;
    text-align: center;
}

.hidden {
    display: none;
}

.active-panel {
    display: block;
}

.winner-panel {
    text-align: center;
}

.winner-panel img {
    border-radius: 15px;
    box-shadow: 2px 2px 8px $light-theme-shadow;
    margin: 1rem auto;
    width: 100%;
}

.failure-background-color {
    background-color: $light-theme-error-color;
}