@use "../base/index" as *;
@use "../abstracts/index" as *;

body {
    @include flexbox(column, space-between, center);
    font-size: 18px;
    height: 100vh;
    min-width: 330px;
}

main {
    height: auto;
    padding: 2rem;
    width: 100%;
}

article {
    position: relative;
}

h1, h2, h3, h4, p, label {
    font-family: $current-font;
}

h1 {
    @include fontline(3.4rem, 3.6rem);
    margin-bottom: .35em;
}

h2 {
    @include fontline(1.6rem, 1.8rem);
    font-weight: 500;
    margin-bottom: .4em;
}

h3 {
    @include fontline(1.2rem, 1.4rem);
    margin-bottom: 1rem; 
}

h4 {
    @include fontline(1.4rem, 1.6rem);
    margin-bottom: 1rem;
}

p {
    @include fontline(1.3rem, 1.6rem);
}

input, label {
    @include fontline(1.2rem, 1.4rem);
    font-family: $current-font;
    margin-left: 1.2rem;
    margin-bottom: 1.2rem; 
}

label {
    margin-left: .5rem
}

#Start-Menu, #Nothing-Selected-Notice, #Failed-Menu-Answer, #Failed-Menu-Time {
    background-color: $light-theme-background;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 5px $light-theme-shadow;
    
    p {
        text-align: justify;
    }
}

#Nothing-Selected-Notice {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 100%;
    z-index: 10;

    .menu-content-wrap {
        @include flexbox(column, center, center);
    }

    input {
        @include resetbox;
        background-color: $light-theme-secondary-dark;
        border-radius: 5px;
        box-shadow: 0 0 5px $light-theme-shadow;
        color: $light-theme-background;
        font-weight: 700;
        padding: 1rem;
        margin-top: 1rem;
    }
}

#Failed-Menu-Answer, #Failed-Menu-Time {
    background-color: $light-theme-error-color-shadow;

    .menu-content-wrap {
        border: 3px solid $light-theme-error-color;
        background-color: $light-theme-error-color-shadow;
        color: $light-theme-background;
    }
}

#Menu-h3 {
    text-align: center;
}

.menu-content-wrap {
    background-color: $light-theme-background;
    padding: 1.5rem;
    border: 3px solid $light-theme-secondary-dark;
    border-radius: 15px;
}

.quiz-title {
    @include fontline(2rem, 2.2rem);
    font-weight: 900;
    margin-bottom: .8em;
    text-align: center;
}

.hidden {
    display: none;
}

.active-panel {
    display: block;
}